/* styles.css */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .widget {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  button {
    padding: 10px 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  